/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;

#define COMBO_TERM_FASTER 30
#define COMBO_TERM_FAST 35 
#define COMBO_TERM_SLOW 50
#define COMBO_TERM_SLOWER 60  
#define COMBO_TERM_SLOWEST 300

// make homerow combos tap-only (so HRMs can be chorded instantaneously)
//#define HRC_TAB    &hml         LA(LCTRL) TAB
//#define HRC_REPEAT &hml_repeat  LS(LCTRL) 0
//#define HRC_LPAR   &hmr_lpar_lt RS(LCTRL) 0
//#define HRC_RPAR   &hmr_rpar_gt LA(LCTRL) 0

/* modifiers */
ZMK_COMBO(key_rep,   &key_repeat,RM2 RM3,  DEF        , COMBO_TERM_FASTER)
ZMK_COMBO(esc,       &kp ESC,    LM2 LM3,  DEF        , COMBO_TERM_FASTER)
ZMK_COMBO(caps_word, &caps_word, RM1 RM2,  DEF        , COMBO_TERM_FASTER)
ZMK_COMBO(smrt_num,  SMART_NUM,  LM1 LM2,  DEF        , COMBO_TERM_FASTER)

/* symbols */
// ()
ZMK_COMBO(lpar,      &kp LPAR,   LM1 RM1,  DEF        , COMBO_TERM_SLOW)
ZMK_COMBO(rpar,      &kp RPAR,   LT1 RT1,  DEF        , COMBO_TERM_SLOWER)
// []
ZMK_COMBO(lbkt,      &kp LBKT,   LM2 RM2,  DEF        , COMBO_TERM_SLOW)
ZMK_COMBO(rbkt,      &kp RBKT,   LT2 RT2,  DEF        , COMBO_TERM_SLOWER)
// {}
ZMK_COMBO(lbrc,      &kp LBRC,   LM3 RM3,  DEF        , COMBO_TERM_SLOW)
ZMK_COMBO(rbrc,      &kp RBRC,   LT3 RT3,  DEF        , COMBO_TERM_SLOWER)
// <>
ZMK_COMBO(lt  ,      &kp LT  ,   LM4 RM4,  DEF        , COMBO_TERM_SLOW)
ZMK_COMBO(gt  ,      &kp GT  ,   LT4 RT4,  DEF        , COMBO_TERM_SLOWER)

/* layers */
ZMK_COMBO(lnb,  &tog NUM,     LM2 LM3        , NUM     , COMBO_TERM_FAST)
ZMK_COMBO(lbq,  &tog QWERTY,  LT4 RT4 LB4 RB4, DEF     , COMBO_TERM_SLOWEST)
ZMK_COMBO(lbsq, &tog SQWERTY, LM4 RM4 LB4 RB4, DEF     , COMBO_TERM_SLOWEST)
ZMK_COMBO(lqb,  &tog QWERTY,  LT4 RT4 LM4 RM4, QWERTY  , COMBO_TERM_SLOWEST)
ZMK_COMBO(lsqb, &tog SQWERTY, LT4 RT4 LM4 RM4, SQWERTY , COMBO_TERM_SLOWEST)


ZMK_COMBO(lock, &tog LOCK   , LB4 LB3 RB3 RB4, DEF     , COMBO_TERM_SLOWEST)
ZMK_COMBO(ulck, &tog LOCK   , LB4 LB3 RB3 RB4, LOCK    , COMBO_TERM_SLOWEST)